.square {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #ffffff;
    margin: 15px 0;
  }
  
  .line {
    line-height: 0;
  }
  
  .line .line-1 {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #ffffff;
    margin: 15px 0;
  }
  
  .line .line-2 {
    width: 80px;
    height: 12px;
    display: inline-block;
    background: #ffffff;
    margin: 15px 0;
  }
  
  .line .line-3 {
    width: 60px;
    height: 12px;
    display: inline-block;
    background: #ffffff;
    margin: 15px 0;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  #header {
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
  overflow: hidden;
  }

  /* style.css */

#header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* #header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} */

.header-text {
  position: relative;
  z-index: 1;
  /* tambahkan gaya lainnya yang diperlukan */
}

.logo {
  position: relative;
  z-index: 1;
  /* tambahkan gaya lainnya yang diperlukan */
}


  /* #about .container {
    padding-left: 50px;
  padding-right: 50px;
  background-image: url(../images/background.png);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  } */
  
  #header .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  #header .container img {
    margin-top: 30px;
    width: 100px;
  }
  
  #header .container .header-text {
    max-width: 350px;
    margin-top: 100px;
  }
  
  #header .container .header-text h1 {
    font-size: 48px;
    color: #ffffff;
  }

  #header .container .header-text h2 {
    font-size: 28px;
    font-style: italic;
    color: #bebebe;
  }

  #header .container .header-text h3 {
    font-size: 18px;
    color: #bebebe;
    margin-top: 10px;
  }
  
  #header .container .header-text p {
    font-size: 14px;
    color: #a8a8a8;
    line-height: 18px;
  }
  
  #header .container .header-text button.common-btn {
    padding: 18px 40px;
    outline: none;
    background: transparent;
    border: 2px solid #ffffff;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  
  #header .container .header-text button.common-btn:hover {
    background: #ffffff;
    color: white;
    border: 2px solid white;
  }
  
  #sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #000000;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  #sidenav ul li {
    list-style: none;
    margin: 50px 20px;
  }
  
  #sidenav ul li a {
    color: white;
    text-decoration: none;
  }
  
  #menuBTN {
    position: fixed;
    top: 35px;
    right: 60px;
    z-index: 2;
    width: 50px;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
  
  #about, #offers {
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #about .common-btn, #offers .common-btn {
    padding: 18px 40px;
    outline: none;
    background: transparent;
    border: 2px solid #000000;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 30px 0;
  }
  
  #about .common-btn:hover, #offers .common-btn:hover {
    background: #000000;
    color: white;
    border: 2px solid white;
  }
  
  #about .about-left-col, #offers .about-left-col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  
  #about .about-left-col img, #offers .about-left-col img {
    width: 100%;
  }
  
  #about .about-right-col, #offers .about-right-col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: right;
  }
  
  #about .about-right-col .about-text {
    margin-right: 100px;
    max-width: 500px;
  }
  
  #about .about-right-col .about-text h2, #offers .about-right-col .about-text h2 {
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
  }
  
  #about .about-right-col .about-text h3, .about-text h1, #offers .about-right-col .about-text h3 {
    font-size: 40px;
    color: #ffffff;
  }

  #offers .about-text p {
    font-size: 18px;
    font-style: italic;
    color: #ffffff;
  }

  #offers .about-text .common-btn {
    color: #ffffff;
    border-color: #ffffff;
    font: bold;
  }
  
  #features {
    padding: 50px 0;
  }
  
  #features .features-row {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  #features .feature-col {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: center;
  }
  
  #features .feature-col img {
    width: 100px;
  }
  
  #features .feature-col h4 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
  }
  
  #features .feature-btn {
    margin: 80px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  #features .feature-btn .common-btn {
    padding: 18px 40px;
    outline: none;
    background: transparent;
    border: 2px solid #000000;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  #features .feature-btn .common-btn:hover {
    background: #000000;
    color: white;
    border: 2px solid white;
  }
  
  #courses .container {
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px 0;
  }
  
  #courses .container .course-left-col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  
  #courses .container .course-left-col .course-text {
    max-width: 350px;
  }
  
  #courses .container .course-left-col .course-text .common-btn {
    padding: 18px 40px;
    outline: none;
    background: transparent;
    border: 2px solid #000000;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 30px 0;
  }
  
  #courses .container .course-left-col .course-text .common-btn:hover {
    background: #000000;
    color: white;
    border: 2px solid white;
  }
  
  #courses .container .course-right-col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  
  #courses .container .course-right-col img {
    width: 100%;
  }
  
  #courses .course-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  #contact .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  #contact .container .contact-left-col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  
  #contact .container .contact-left-col form {
    margin: 30px 0 10px;
    max-width: 350px;
  }
  
  #contact .container .contact-left-col form input {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #000000;
  }
  
  #contact .container .contact-left-col form .btn-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  #contact .container .contact-left-col form .btn-box .common-btn {
    padding: 18px 40px;
    outline: none;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    padding: 18px 0;
  }
  
  #contact .container .contact-left-col form .btn-box .common-btn:hover {
    background: #000000;
    color: white;
    border: 2px solid white;
  }
  
  #contact .container .contact-right-col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  
  #contact .container .contact-right-col img {
    width: 100%;
  }

  #contact .container .contact-right-col video {
    width: 80%;
    padding: 10%;
  }
  
  #contact .contact-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #contact .container .contact-row {
    background-color: rgb(0, 0, 0);
  }
  
  @media screen and (max-width: 770px) {
    .common-btn {
      padding: 10px 16px !important;
    }
    #header {
      background-image: none;
    }
    #header .container {
      margin-left: 50px;
      margin-right: 50px;
    }
    #header .container .header-text {
      margin-top: 60px;
    }
    #header .container .header-text h1 {
      font-size: 25px;
    }
    #header .container .logo {
      margin-top: 27px;
      width: 70px;
    }
    #menuBTN {
      right: 50px;
      width: 40px;
    }
    .social-icons img {
      width: 14px;
      margin: 15px auto;
    }
    #about .about-left-col,
    #about .about-right-col {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    #about .about-right-col .about-text {
      margin-top: 50px;
      margin-right: 50px;
    }
    #about .about-right-col .about-text h2 {
      font-size: 18px;
    }
    #about .about-right-col .about-text h3 {
      font-size: 18px;
      color: #777;
    }
    #features .feature-col {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-bottom: 20px;
    }
    #offers .about-left-col {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    #offers .about-right-col {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-top: 70px;
    }
    #offers .about-right-col .about-text {
      margin-right: 50px;
    }
    #contact .container {
      margin-left: 50px;
      margin-right: 50px;
    }
    #contact .container .contact-left-col {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    #contact .container .contact-right-col {
      margin-top: 70px;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    #footer .container {
      margin-left: 50px;
      margin-right: 50px;
    }
    #footer .container .footer-left-col {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    #footer .container .footer-left-col .link-title {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      margin-top: 40px;
    }
    #footer .container .footer-right-col {
      margin-top: 50px;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    #footer .container .footer-right-col .common-btn {
      width: 100%;
    }
  }
  
  #nav {
    /* background: linear-gradient(to top, #848484, #092442); */
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-left: 50px;
    padding-right: 120px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
  
  #nav.nav-active {
    background: #00D7CC;
    z-index: 100;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  
  #nav .logo img {
    width: 100px;
  }
  
  #nav .nav-text ul {
    list-style: none;
    display: flex;
  }
  
  #nav .nav-text ul li {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  
  #nav .nav-text ul li:hover a {
    color: black;
  }
  
  #nav .nav-text ul li a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: 800;
    padding-bottom: 5px;
  }
  
  #nav .nav-text ul li a.active {
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  
  #nav .menu-btn {
    color: white;
    font-size: 23px;
    display: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .nav-text {
        display: none;
    }
    
    .nav-text.active {
        display: block;
        margin-top: 10px;
    }
    
    .nav-text ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .nav-text ul li {
        text-align: center;
    }
    
    .nav-text ul li a {
        display: block;
        padding: 10px;
    }
    
    .menu-btn {
        display: block;
    }
}

  #teams {
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: url(../images/starship.jpg);
    background-size: cover;
    background-position: ce;
    background-attachment: fixed;
  }
  
  #teams .box {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    margin: 20px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
/* naik */
  #teams .box:hover {
    height: 400px;
  }
  
  #teams .box:hover .imgbox img {
    opacity: 1;
  }
  
  #teams .box .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 3;
  }
  
  #teams .box .imgbox img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    opacity: 0.1;
  }
  
  #teams .box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background-color: #060c21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  #teams .box .content h2 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #teams .box .content h2 span {
    font-weight: 200;
    font-size: 14px;
  }
  
  #teams .box:hover .content {
    opacity: 1;
  }
  
  #teams .box .contentbox {
    position: absolute;
    width: 0;
    top: -20px;
    background: linear-gradient(to top, #ffffff, #ffffff);
    height: 50px;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
  }
  
  #teams .box .contentbox .content-isi h2 {
    font-family: 'Ubuntu';
    font-size: 20px;
  }
  
  #teams .box:hover .contentbox {
    width: 150px;
    opacity: 1;
  }
  
  /* #teams .box:nth-child(2) {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  } */

  /* #teams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .imgbox img {
    width: 100%;
  }
  
  .content {
    padding: 10px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  span {
    font-size: 14px;
    color: #888;
  } */
  

  #skills .header-skills {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 50px 0;
    margin-top: 115px;
    background-color: transparent;
  }
  
  #skills .header-skills h1 {
    color: white;
    font-size: 2em;
    font-family: 'Ubuntu';
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  #skills .header-skills h1 span {
    color: white;
  }

  .slider-container {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slider-track img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  #scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 36px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
  }

  #scrollBtn:hover {
    opacity: 1;
  }

  /* Additional styles for the arrow shape */
  #scrollBtn::before {
    content: "\2191"; /* Unicode for upwards arrow */
    display: block;
    text-align: center;
    line-height: 40px;
}

  .footer {
      background-color: #000;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    .footer-logo {
      font-size: 30px;
      margin-bottom: 10px;
    }
    
    .footer-title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .footer-description {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    .footer-links {
      margin-top: 20px;
    }
    
    .footer-links a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s ease;
    }
    
    .footer-links a:hover {
      color: #999;
    }